.header {
	width: 100%; 
	height:50px;
	background-image:url('../images/bg_header.gif');
	background-repeat:repeat-x;
}
.header td {
	width: 100%; 
	height:50px;
	background-image:url('../images/header.gif');
	background-repeat:no-repeat;
	background-position:bottom left;
}